<!-- Main Setup -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DataDunks</title>

	<!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- Importing all Javascript sources -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<!-- Importing link to style.css file -->
	<link href="../static/css/style2.css" rel="stylesheet">
</head>

<!-- The Body Begins Here -->
<body>

<!-- Start Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="index.html"><img src="../static/img/ddlogo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="pvp.html">Player vs Player</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="tvt.html">Team vs Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="stats.html">Database</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">About Us</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<!-- End Navigation Bar -->

<!-- Start of Header  -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Player vs. Player</h1>
		<h4>Choose two players and see who comes out on top!</h4>
	</div>

	<hr>
<!-- End of Header -->

<!-- Start Forms -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<div class="header">
			<form id="form1" method="POST" action="/pvp.html">
				<h2>Input Your Players</h2>
				<div class="form-box">

				<input type="text" class="search-field player1" placeholder="PLAYER" name="player_one">

				<button form="form1" class="search-btn" type="button" onclick="pvp()">Versus</button>

				<input type="text" class="search-field player2" placeholder="PLAYER" name="player_two">

				</div>
			</form>
		</div>
	</div>
</div>
</div>

<!-- End Forms -->

<!-- Start Stats Containers -->
<div class="container-fluid padding">
<div class="row padding">
	<div id="stats1" class="col-md-6">
		<h3>Player 1 Stats</h3>
		<hr>
	</div>
	<div id="stats2" class="col-md-6">
		<h3>Player 2 Stats</h3>
		<hr>
	</div>
</div>
</div>
<!-- End Stats Containers -->

<!-- Start Box PlusMinus Bar Chart -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1>Box PlusMinus</h1>
		<hr>
	</div>
</div>
</div>
<!-- End Box PlusMinus Bar Chart -->

<!-- Start Animation Container -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1>Animations</h1>
		<hr>
	</div>
</div>
</div>
<!-- End Animation Container -->



<script type="text/javascript" src="../static/js/app.js"></script>














</body>
</html>