<!-- Main Setup -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DataDunks</title>

	<!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- Importing all Javascript sources -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<!-- Importing link to style.css file -->
	<link href="style.css" rel="stylesheet">
</head>

<!-- The Body Begins Here -->
<body>

<!-- Start Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="index.html"><img src="../images/ddlogo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="pvp.html">Player vs Player</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="tvt.html">Team vs Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="stats.html">Database</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">About Us</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<!-- End Navigation Bar -->

</body>
</html>