<!-- Main Setup -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DataDunks</title>

	<!-- Importing Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- Importing all Javascript sources -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<!-- Importing link to style.css file -->
	<link href="style3.css" rel="stylesheet">
</head>

<!-- The Body Begins Here -->
<body>

<!-- Start Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="index.html"><img src="../images/ddlogo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="pvp.html">Player vs Player</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="tvt.html">Team vs Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="stats.html">Database</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="about.html">About Us</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<!-- End Navigation Bar -->

<!-- Start of Header  -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Team vs. Team</h1>
		<h4>Formulate your Dream Team!</h4>
	</div>

	<hr>
<!-- End of Header -->

<!-- Start Forms -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<div class="header">
			<form>
				<h2>Input Your Players</h2>
				<div class="form-box">

				<input type="text" class="search-field player1" placeholder="POINT GUARD">

				<input type="text" class="search-field player2" placeholder="POINT GUARD">

				<br>

				<input type="text" class="search-field player3" placeholder="SHOOTING GUARD">

				<input type="text" class="search-field player4" placeholder="SHOOTING GUARD">

				<br>

				<input type="text" class="search-field player5" placeholder="SHOOTING FORWARD">

				<input type="text" class="search-field player6" placeholder="SHOOTING FORWARD">

				<br>

				<input type="text" class="search-field player7" placeholder="POWER FORWARD">

				<input type="text" class="search-field player8" placeholder="POWER FORWARD">

				<br>

				<input type="text" class="search-field player9" placeholder="CENTER">

				<input type="text" class="search-field player10" placeholder="CENTER">

				<br>

				<button class="search-btn" type="button">Versus</button>
				
				</div>
			</form>
		</div>
	</div>
</div>
</div>

<!-- End Forms -->

<!-- Start Stats Container -->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-6">
		<h3>Team 1 Stats</h3>
		<hr>
		<h5>Point Guard 1</h5>
		<br>
		<h5>Shooting Guard 1</h5>
		<br>
		<h5>Shooting Forward 1</h5>
		<br>
		<h5>Power Forward 1</h5>
		<br>
		<h5>Center 1</h5>
		<br>
	</div>
	<div class="col-md-6">
		<h3>Team 2 Stats</h3>
		<hr>
		<h5>Point Guard 2</h5>
		<br>
		<h5>Shooting Guard 2</h5>
		<br>
		<h5>Shooting Forward 2</h5>
		<br>
		<h5>Power Forward 2</h5>
		<br>
		<h5>Center 2</h5>
		<br>
	</div>
</div>
</div>
<!-- End Stats Containers -->

<!-- Start Box PlusMinus Bar Chart -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1>Box PlusMinus</h1>
		<hr>
	</div>
</div>
</div>
<!-- End Box PlusMinus Bar Chart -->

<!-- Start Animation Container -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1>Animations</h1>
		<hr>
	</div>
</div>
</div>
<!-- End Animation Container -->


















</body>
</html>